html,
body,
p {
  height: 100%;
  margin: 0;
  padding: 0;
}

body::-webkit-scrollbar {
  display: none;
}

.box-shadow {
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}



.content-print {
  @media print {
    margin: 0 !important;

  }
}

.page-heading {
  text-align: center;
  font-weight: bold;
  font-size: 30px;
  margin: 16px 0;
  text-transform: uppercase;
  color: white;
  background-color: #001529;
}


@media print {
  body * {
    visibility: hidden;
    font-size: 10px;
  }
  
 
  #form-container, 
  #form-container * {
    visibility: visible;
    padding: 0;
  }
  
  #form-container {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
  }
  .print-hide{
    display: none;
  }
}